# PyTorch models
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text

# Scikit-learn/pickle models
*.pkl filter=lfs diff=lfs merge=lfs -text

# Other large files
*.csv filter=lfs diff=lfs merge=lfs -text

# Demo GIFs
*.gif filter=lfs diff=lfs merge=lfs -text
